body {
    background-color: #193830;
    font-family: cursive;
    font-weight: medium;
}

.navbar{
    background-color: #193830!important;
}

.nav-link {
    color: silver!important;
}

.nav-link:hover {
    opacity: 0.5;
  }
.btn.btn-outline-secondary{
    color: silver!important;
    border-color:silver!important;
}
.col-10{
    text-align: center;
    margin-left: 6%;
}
.card.bg-dark{
    color: #bea67c;
}
.card-text{
    color: silver;
    font-size: 40px;
    -webkit-text-stroke: 0.6px #000;
    text-align: center;
   
}
.card-title{
    color: #bea67c;
    font-size: 50px;
    -webkit-text-stroke: 0.6px #000;
}

.card-img{
    height: 305em;
    filter: brightness(60%);
}
#card-3{
    margin-top: 8%;
}
#gifsalazar{
    width:  370px!important;
    height: 500px;
    border-radius: 70px;
    margin-left: 15%;
}
#basilisco{
    margin-top: 5%;
    width: 100%;
}
#citseletor{
    margin-left: 9%;
    text-align: center;
}
#shield{
    display: flex;
    justify-content: center;
    height: 60em;
    align-items: center;
}
#imgshield{
    height: 50em;
}
#merlin{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.about{
    font-weight: medium;
}
#phineas{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#tom{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#snape{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#bella{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#cisa{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#andromeda{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#draco{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
p{
    color: silver;
}
.card-footer{
    color: silver;
}
strong{
    color: #bea67c;
}
.icons-1{
    margin-left: 83%;
}
.icons-3{
    padding-left: 0.8%;
}
.icons-2{
    padding-left: 1%;
}
.img-form{
    filter: brightness(50%);
}
#name{
    width: 30%;
    height: 45px;
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 10px;

}
#email{
    width: 30%;
    height: 45px;
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 10px;

}
#msg{
    width: 30%;
    height: 80px;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
}